body 
{
    direction:rtl;
    background-image: url(../images/19a004123.jpg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: antiquewhite;


}

#container{
    width: 960px;
    margin:auto;
  
}

#hpage {
    border-style: double;
    border-color: palevioletred;
    margin-top: 70px;
    margin-right: -429px;
    background-repeat: no-repeat;
    height: 1400px;
    width: 1655px;
    background-image: url('../images/images (11234567).jpg');
    background-size: 2600px; 
    background-position-x: -80px;
    background-color: none;
    padding-right: -70px;
    padding-left: 130px;
    border: 15px solid;
    border-color: lightgray;
}

#tmuna{
    background-image: url(../images/Untitled-21.png);
    width: 400px;
    height: 450px;
    background-size: 400px;
    background-repeat: no-repeat;
    float: left;
    margin-left: -40px;
    margin-top: 5px;
}

#tmuna123{
    background-image: url(../images/3tmunut.png);
    width: 900px;
    height: 700px;
    background-size: 1000px;
    padding-right: 450px;
    background-repeat: no-repeat;
    margin-top: 30px;
}
#s p{
    font-size: 22pt;
    padding-right: -5px;
    text-align: right;
    padding-right: 100px;
    color: black;
    padding-left: 450px;
    padding-top: 80px;
}
#s h1{
 text-align:right;  
 padding-bottom: 5px;
 text-decoration: none;
 font-size: 20pt;
 color: black;
   padding-right: 100px;
   padding-top: 100px;
}

#s h2{
padding-right: 400px;
padding-bottom: 10px;
font-size: 58pt;
color: black;
padding-top: 150px;
}

h1, h2, h3, h4{
    padding-top: 20px;
    text-decoration: underline;
    font-size: 14pt;   
    text-align:center;
}

.nivut1 ul{
    width: auto;
    list-style: none;
    height: 10px;
    padding-top: 300px;
    padding-right: 14px;
}

.nivut1 ul li{
    width: auto;
    display: inline-block;
    font-size: 22pt;
    font: bold;
    border: solid 5px;
    border-color: palevioletred;

}

.nivut1 ul li a {
        color:white ;
        text-decoration:none;
        background-color: palevioletred;
        background-size: 350px;
        width: 350px;
        font-size: 22pt;
    }

.nivut1 ul li a:hover {
        background-color: white;
        color: palevioletred;
        border-color: white;
    }

    .nivut1 ul li a:active {
        background-color: white;
        color: palevioletred;
        border-color: white;

    }


/*-------*/

#tmuna2{
    background-image: url(../images/omri.JPG);
    width: 175px;
    height: 230px;
    background-repeat: no-repeat;
    padding-right: 250px;
    background-position-y: 70px;

}
    /*----------------*/



#cafe{
    border-style: double;
    border-color: palevioletred;
    border-width: 10px;
    margin-top: 50px;
    background-color: lightgrey;
    background-repeat: no-repeat;
    height: 1200px;
    width: 600px;
    background-image: url('../images/images (12).jpg');
    background-size: cover;
    padding-right: 130px;
    padding-left: 130px;
    margin-right: 50px;
    position:static;

}

#tksh{
    background-image: url('../images/tksh.jpg');
    background-repeat: no-repeat;
    height: 270px;
    width: 215px;
    background-size: 200px;
    float: right;
    margin-top: 50px;
   
}
#video{
    padding-top:20px;
    float: left;
    position: relative;
}
      /*----------------*/

#omri {
    margin-top: 50px;
    padding-top: 50px;
    border-style: double;
    border-color: palevioletred;
    border-width: 10px;
    background-color: lightgrey;
    background-repeat: no-repeat;
    height: 1200px;
    width: 600px;
    background-image: url('../images/images (12).jpg');
    background-size: cover;
    padding-right: 130px;
    padding-left: 130px;
    margin-right: 50px;
    font-size: 12pt;
    text-align: justify;

}

#tmuna2{
    padding-top: 130px;
    background-image: url(../images/omri.jpg);
    width: 275px;
    height: 430px;
    background-size: 350px;
    background-repeat: no-repeat;
    padding-right: 200px;
}

#audio{
padding-right: 145px;
}

#s, #s1, #s3, #s4{
    padding-top: 40px;
}

#p1, #p2, #p3{
    padding-top: 10px;
    font-weight:bold;
    font-size: 14pt;
    text-decoration: underline;
    text-align:center;
}


#s2 p{
    text-align:center;
    padding-top: 10px;
}

#s1 p{
    text-align: center;
}

#s2 #p4{
    text-align:justify;
    padding-top: 10px;
}

#ss3{
   text-align: center;
   font-size: 14pt;
   padding-bottom: 20px;
}

/*----------------*/

 

/*-----------------------*/

#more{
    margin-top: 50px;
    border-style: double;
    border-color: palevioletred;
    border-width: 10px;
    background-color: lightgrey;
    background-repeat: no-repeat;
    height: 1200px;
    width: 600px;
    background-image: url('../images/images (12).jpg');
    background-size: cover;
    font-size: 12pt;
    padding-right: 130px;
    padding-left: 130px;
    margin-right: 50px;
    text-align: justify;

}

#more1{
    background-image: url('../images/e-card_NofarCohen.gif');
    width: 300px;
    height: 330px;
    background-size: 300px;
    background-repeat: no-repeat;
    padding-right: 140px;
    padding-top: -100px;
}

#more2{
    background-image: url('../images/Nofar-portret3.jpg');
    width: 300px;
    height: 330px;
    background-size: 300px;
    background-repeat: no-repeat;
    padding-right: 140px;
    
}

#more3{
    background-image: url('../images/Untitled-2.jpg');
    width: 300px;
    height: 300px;
    background-size: 300px;
    background-repeat: no-repeat;
    padding-right: 140px;
    
}



/*--------------------------------------*/

#kesher{
    margin-top: 50px;
    border-style: double;
    border-color: palevioletred;
    border-width: 10px;
    background-color: lightgrey;
    background-repeat: no-repeat;
    height: 1200px;
    width: 600px;
    background-image: url('../images/images (12).jpg');
    background-size: cover;
    padding-right: 130px;
    padding-left: 130px;
    margin-right: 50px;
}

#images {
    padding-top: 250px;
    height: 150px;
    width: 120px;
    background-size: 120px;
    background-repeat: no-repeat;
    background-image: url(../images/large2.gif);
    background-position-y: 50px;
    padding-right: 240px;
}

#images1 {
    padding-top: 250px;
    height: 150px;
    width: 120px;
    background-size: 120px;
    background-repeat: no-repeat;
    background-image: url(../images/whats.png);
    background-position-y: 50px;
    padding-right: 240px;
 }


#images2 {
    padding-top: 250px;
    height: 150px;
    width: 150px;
    background-size: 150px;
    background-repeat: no-repeat;
    background-image: url(../images/gmail.gif);
    background-position-y: 20px;
    padding-right: 200px;
}

#images:hover{  
   background-size: 100px;
 
/* ----------------------------------------------
 * Generated by Animista on 2017-5-7 15:39:32
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}
}

#images1:hover{  
  background-size: 100px;
 
/* ----------------------------------------------
 * Generated by Animista on 2017-5-7 15:39:32
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}
}

#images2:hover{  
    background-size: 120px;
 
/* ----------------------------------------------
 * Generated by Animista on 2017-5-7 15:39:32
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}
}