body 
{
    direction:rtl;
    background-color: whitesmoke;

}

#container{

    width: 960px;
    margin: 0 auto;
    background-image: url(../Images/Untitled-15.jpg);
    background-size: 1175px;
    height: 1200px;
    background-repeat: no-repeat;
    background-position-x: center;

}

h1{
    font-family: Arial;
    font-size: 20px;
    color: black;
    text-align: center;
    padding-top: 5px;

}

h2{
    font-family: Arial;
    font-size: 28px;
    color: black;
    text-align: center;
    margin-top: 20px;
}

h3{
    padding-bottom: 20px;
    font-family: Arial;
    font-size: 38px;
    color: black;
    text-align: center;
    margin-top: 20px;
    padding-bottom : 350px;

}

label{
    font-family: Arial;
    font-size: 18px;
    color: black;
    text-align: left;
    padding-bottom : 230px;
    padding-right: 35px;
   
}

 h4{
    font-family: Arial;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 20px;
    padding-top : 60px;

 }

 a{
    font-family: Arial;
    font-size: 18px;
    text-align: center;
    padding-right: 360px;

 }






